$basically-green: #3f7d20;
$button-green: #77bb17;
$serif-text: 'Merriweather', serif;

html, body{
  margin: 0;
  padding: 0;
  font-family: Arial, Verdana, sans-serif;
  font-size: 16px;
}


/* site-wrap -1170px// body-1440px; */

.site-wrap{
  width: 81%;
  margin: 0 auto;
}

.container{
  width: 100%;
}

/* Top bar */


.top-bar{
  height: 50px;
  background: $basically-green;
}

.content{
  line-height: 50px;
  color: white;
  font-size: 0.750em; /* 12px */
}

.telephone{
  margin-right: 13px;
}

.number{
  display: inline-block;
  margin-left: 7px;
  line-height: 28px;
  margin-right: 0;
}


.email{
  border-left: 1px solid #ffffff52;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding-top: -2px;
  padding-left: 13px;
}

.right-content{
  float: right;
}

.fa-angle-down{
  font-size: 0.750em; /* 7px */
}

.language{
  margin-right: 13px;
}

.login{
  border-left: 1px solid #ffffff52;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding-top: -2px;
  padding-left: 13px;
  color: white;
}
/* Nav */

.navbarr {
  padding-top: 30px;
  height: 80px;
  background: white;
  box-sizing: border-box;
}

#menu-toggle{
  display: none;
  float: right;
  font-size: 26px;
  color: #333;
}

#main-logo {
  display: block;
  float: left;
  background: url('../img/logo.jpg') no-repeat;
  width: 100px;
  height: 20px;
}

#main-menu{
  float: right;

  ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li{
    float: left;
  }
  a{
    display: block;
    text-decoration: none;
    color: #303030;
    text-transform: uppercase;
    padding: 5px 11px;
    font-size: 0.875em; /* 14px */
  }
  a:hover{
    color: #77bb17;
    transform: scale(1.1);
  }
  li:last-child a{
    padding-right: 0px;
  }
}
.selected{
  font-weight: bold;
}