$basically-green: #3f7d20;
$button-green: #77bb17;
$serif-text: 'Merriweather', serif;

html, body{
  margin: 0;
  padding: 0;
  font-family: Arial, Verdana, sans-serif;
  font-size: 16px;
}


/* site-wrap -1170px// body-1440px; */

.site-wrap{
  width: 81%;
  margin: 0 auto;
}

.container{
  width: 100%;
}

/* Top bar */


.top-bar{
  height: 50px;
  background: $basically-green;
}

.content{
  line-height: 50px;
  color: white;
  font-size: 0.750em; /* 12px */
}

.telephone{
  margin-right: 13px;
}

.number{
  display: inline-block;
  margin-left: 7px;
  line-height: 28px;
  margin-right: 0;
}


.email{
  border-left: 1px solid #ffffff52;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding-top: -2px;
  padding-left: 13px;
}

.right-content{
  float: right;
}

.fa-angle-down{
  font-size: 0.750em; /* 7px */
}

.language{
  margin-right: 13px;
}

.login{
  border-left: 1px solid #ffffff52;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding-top: -2px;
  padding-left: 13px;
  color: white;
}
/* Nav */

.navbarr {
  padding-top: 30px;
  height: 80px;
  background: white;
  box-sizing: border-box;
}

#menu-toggle{
  display: none;
  float: right;
  font-size: 26px;
  color: #333;
}

#main-logo {
  display: block;
  float: left;
  background: url('../img/logo.jpg') no-repeat;
  width: 100px;
  height: 20px;
}

#main-menu{
  float: right;

  ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li{
    float: left;
  }
  a{
    display: block;
    text-decoration: none;
    color: #303030;
    text-transform: uppercase;
    padding: 5px 11px;
    font-size: 0.875em; /* 14px */
  }
  a:hover{
    color: #77bb17;
    transform: scale(1.1);
  }
  li:last-child a{
    padding-right: 0px;
  }
}
.selected{
  font-weight: bold;
}

/* Header images */

.header-img{
  margin-bottom: 80px;
}

.header-img1{
  position: relative;
  height: 557px;
  background-image: url('../img/test.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 63%;
  margin: 0;
  padding: 0;
  float: left;
}

.header-img-top-right{
  height: 278px;
  background-image: url('../img/top-right.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 37%;
  margin: 0;
  padding: 0;
  float: left;
}

.header-img-bottom-right{
  height: 279px;
  background-image: url('../img/bottom-right.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 37%;
  margin: 0;
  padding: 0;
  float: left;
}

/* Header left img box text */

.box-header-img{
  position: absolute;
  height:	380px;
  width: 90%;
  top: 87px;
  background: rgba(0, 0, 0, 0.61);

  h2{
    color:white;
    padding-left: 16%;
    margin-top: 75px;
    margin-bottom: 25px;
    font-family: $serif-text;
    font-weight: bold;
  }

  p{
    color: white;
    text-align: left;
    font-size: 0.875em; /* 14px */
    width: 94%;
    padding-left: 16%;
    margin-bottom: 35px;
    line-height: 25px;
  }
  a{
    background: $button-green;
    display: block;
    width: 22%;
    height: 46px;
    color: white;
    text-decoration: none;
    text-align: center;
    margin-left: 16%;
    line-height: 46px;
    font-size:  0.875em;  /* 14px */
    font-weight: bold;
  }

  a .fa-shopping-cart {
    margin-left: 4%;
    font-size: 0.875em;  /* 14px */
  }
}

  /* Body-Section-Filter-Product */

.category{
  margin-left: 5%;
  font-size: 14px;
}
.onsearch {
  margin-left: 10px;
}

.filter {
  border: 1px solid #d8d8d8;
  margin: 0 auto;
  height: 58px;
  width: 73.26%;
  border-radius: 28px;
  margin-bottom: 60px;


  ul{
    display: block;
    margin: 0;
    padding: 0;
  }

  li{
    display: block;
    float: left;
    width: 20%;
    border-right: 1px solid #d8d8d8;
  }

  a{
    display: block;
    color: #303030;
    text-align: center;
    font-size: 0.875em; /* 14px */
    height: 56px;
    line-height: 56px;
  }
  li:first-child{
   padding-left: 2%;
  }
  li:last-child{
    border: 0;
    width: 18%;
  }
  a:hover{
   color: #8fd613;
   text-decoration: none;
 }
  a:active{
    color: #8fd613;
    border-bottom: 2px solid #8fd613;
  }

}
.active-button{
  border-bottom: 2px solid #8fd613;
  a{
    color: #8fd613;
  }
}

  /* Product */

.first-eight{
  margin-top: 30px;
}

.items {
  border: 1px solid #efecec;
  width: 100%;
  height: 330px;
  margin: 0;
  padding: 0;

.product-images{
  img{
    display: block;
    margin: 28px auto;
    width: auto;
    height: 186px;
  }


}

  h4 {
    display: block;
    margin-top: 36px;
    text-align: center;
  }

  .price{
    border-top: 1px solid #8fd613;
    text-align: center;
    display: block;
    width: 45%;
    margin: 0 auto;
    padding-top: 10px;
  }
}

      /* Pagination */

.page-number{
  text-align: center;
}

.page-number .pagination{
  display: inline-block;
  padding-left: 0;
  margin: 60px 0px 80px 0px;
  border-radius: 4px;

  a{
    border: 1px solid  #e1f4c0;
    margin-left: 10px;
    color: black;
  }

}

    /* New product*/

.new-product{
  background: #f9f9f9;
  h2{
    padding-top: 70px;
    text-align: center;
    font-family: "Times New Roman", Times, serif;;
    font-weight: bold;
  }
  .new-product-decsription{
    display: block;
    margin: 0px auto 80px;

    width: 48%;
  }
  p{
    text-align: center;
    margin: 0;
  }
}

#big-img{
  width: 100%;
  height: 556px;
  margin-bottom: 80px;
}

.small-product {
  background: white;
  margin-bottom: 15px;
  height: 100px;

  .small-product-active{
    float: left;
    color: white;
    width: 65%;
    display: inline-block;
    height: 100px;
    background: #3f7d20;

  }
  #small-product-love{
    float: left;
    width: 16%;
    height: 100px;
    background: #8fd613;
  .fa-shopping-cart{
    color: white;
    /* text-align: center; */
    display: block;
    margin: 18px auto;
  }
  .fa-heart{
    color: white;
    display: block;
    margin: 15px auto;
  }
  #border{
    display: block;
    border-top: 1px solid #93c550;
  }
  }

  img{
    float: left;
    margin: 1% 3%;
    width: 13%;
    height: 92px;
  }

  h4{
    display: inline-block;
    margin: 23px 0px 14px 34px;

  }
  .price{
    display: inline-block;
    width: 34%;
    margin-left: 34px;
    font-weight: bold;
  }
}

#scroll-to-top-btn{
  display: none;
  position: fixed;
  bottom: 25px;
  right: 25px;
  height: 43px;
  background: #3f7d20;
  border: none;
  border-radius: 8px;
  font-size: 31px;
  color: white;
  z-index: 999;
}

  /* Best Sells */

.best-sells{
  margin-bottom: 80px;
  h2{
    padding-top: 70px;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;

  }
  .new-product-decsription{
    display: block;
    margin: 0px auto 80px;

    width: 48%;
  }
  p{
    text-align: center;
    margin: 0;
  }

  /* bxSlider */

  .bx-wrapper{
    webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    background: none;
  }

  .bx-prev{
    left: -8%;
    a{
      display: block;
      text-align: center;
      line-height: 50px;
      color: white;
      font-size: 1.188em; /* 19px */
    }
    a:hover{
      text-decoration: none;
    }
  }

  .bx-controls-direction a{
    z-index: 890;
  }
  .bx-next{
    right: -8%;


    a{
      display: block;
      text-align: center;
      line-height: 50px;
      color: white;
      font-size: 1.188em;/* 19px */

    }
    a:hover{
      text-decoration: none;
    }
  }
}

    /* Subscribe */

.subscribe{
  height: 240px;
  background-image: url("../img/img-subscribe.jpg");
  background-size: cover;
  background-position: bottom;

  .subscribe-content{
    height: 240px;
    background: rgba(0, 0, 0, 0.61);

    h3{
      padding-top: 65px;
      color: white;
      text-align: center;
      font-family: $serif-text;
    }
    .subscribe-box{
      width: 42.2%;
      height: 53px;
      margin: 45px auto;
      background: rgba(255, 255, 255, 0.4);
      border-radius: 27px;

      .subscribe-email{
        display: inline-block;
        color: rgba(255, 255, 255, 1);
        font-size: 14px;
        line-height: 50px;
        margin-left: 5%;
        background: none;
        border: none;
        width: 63%;


      }
      ::placeholder{
        color: white;
      }
      a{
        float: right;
        display: block;
        width: 32%;
        height: 53px;
        text-align: center;
        font-size: 0.875em; /* 14px */
        text-decoration: none;
        line-height: 52px;
        color: white;
        background: $basically-green;
        border-radius: 27px;
      }
    }

  }
}

  /* Footer */

footer {
  position: relative;
  margin-top: 60px;
  .footer-title{
    font-family: $serif-text;
    font-weight: bold;
  }
  hr{
    display: inline-block;
    margin-bottom: 40px;
    width: 23%;
    margin-top: 0;
    margin-left: 0;
    border: 0;
    border-top: 1px solid #77bb17;
  }
  .instagram-feed-wrap{

  }
  span{
    display: block;
  };
  .image-grid-top {
    img {
      display: block;
      width: 33%;
      float: left;
      padding-right: 5px;
      margin-bottom: 5px;
    }
  }

  .image-grid-bottom {
    img {
      display: block;
      width: 33%;
      float: left;
      padding-right: 5px;
      margin-bottom: 60px;
    }

  }
}

   /* Icons */
.icons {
 position: absolute;
  bottom: 115px;
  .facebook-icon {
    display: inline-block;
    margin-right: 7px;
    width: 38px;
    border: 1px solid #e1f4c0;
    height: 37px;
    background: url('../img/sprite.png') no-repeat 0 -35px;
    text-indent: 100%;
    overflow: hidden;
  }

  .facebook-icon:hover {
    background-position: 1px 0px;
    border: none;
  }

  /* Twitter */

  .twitter-icon {
    display: inline-block;
    margin-right: 7px;
    width: 38px;
    border: 1px solid #e1f4c0;
    height: 37px;
    background: url('../img/sprite.png') no-repeat -36px -35px;
    text-indent: 100%;
    overflow: hidden;
  }

  .twitter-icon:hover {
    background-position: -37px 0px;
    border: none;
  }

  /* Linkedin */

  .linkedin-icon {
    display: inline-block;
    margin-right: 7px;
    width: 38px;
    border: 1px solid #e1f4c0;
    height: 37px;
    background: url('../img/sprite.png') no-repeat -143px -35px;
    text-indent: 100%;
    overflow: hidden;
  }

  .linkedin-icon:hover {
    background-position: -140px 0px;
    border: none;
  }

  /* Instagram */

  .instagram-icon {
    display: inline-block;
    margin-right: 7px;
    width: 38px;
    border: 1px solid #e1f4c0;
    height: 37px;
    background: url('../img/sprite.png') no-repeat -107px -35px;
    text-indent: 100%;
    overflow: hidden;
  }

  .instagram-icon:hover {
    background-position: -106px 0px;
    border: 1px solid #e1f4c0;
  }
}

  /* Copyright */

.copyright{
  height: 75px;
  background: $basically-green;
  span{
    text-align: center;
    color: white;
    line-height: 75px;
    font-size: 0.875em; /* 14px */
  }
}


  /* ---------------------------------------------Responsive------------------------------------------------------- */




/* New product*/


@media only screen and (max-width: 1030px){
.small-product h4{
  display: block;
  margin: 0px 0px 7px 0px;
  padding-top: 15px;
}

  .small-product .price{
    margin-left: 0;
  }
}
@media only screen and (max-width: 980px) {
  .site-wrap {
    width: auto;
    padding: 0px 15px;
  }
  .best-sells .bx-next{
    right: 2%;

  }
  .best-sells .bx-prev{
  left: 2%;

  }
  .bx-wrapper .bx-controls-direction a{
    top: -11%;
  }
  .box-header-img{
    a{
      width: auto;
    }
  }
  .filter{
    width: auto;
  }
}



@media only screen and (max-width: 960px) {
  .icons{
    position: static;
  }
}

@media only screen and (max-width: 760px){
 .navbarr{
   padding-top: 10px;
   height: auto;
 }
  #main-logo{
    float: none;
    margin: 0 auto 10px;
  }
  #main-menu{
    float: none;
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  #main-menu ul{
    display: inline-block;
  }
  .box-header-img{
    h2{
      margin-top: 32px;
    }
    p{
      margin-bottom: 0px;
    }

  }
  .image-grid-top{
    width: 60%;
  }
  .image-grid-bottom{
    width: 60%;
  }
  #big-img{
    display: block;
    width: 80%;
    margin: 0px auto 80px;
  }
  .small-product img{
    width: 10%;
  }
  .filter li:first-child{
    padding-left: 0px;
  }
  .filter {
    a{
      font-size: 0.813em; /* 13 px*/
    }
  }
  .items{
    margin-bottom: 15px;
  }
  .subscribe .subscribe-content .subscribe-box{
    width: 70%;
  }
}
@media only screen and (max-width: 500px){
  .site-wrap{
    padding: 0;
  }
  .navbarr{
    margin-bottom: 20px;
  }
  #main-menu{
    display: none;

    li{
      float: none;
    }

  }
  .content{
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 0.750em; /*12px */
    .telephone{
      margin-right: 1px;
    }
    .email{
      padding-left: 3px;
      margin-right: 4px;
    }
    .right-content{
      float: none;

      .language{
        margin-right: 3px;
      }
      .login{
        padding-left: 4px;
      }
    }
  }
  #menu-toggle{
    display: block;
    height: 30px;
    margin-right: 15px;
  }

}
@media only screen and (min-width: 500px){
  #main-menu {
    display: block !important;
  }
}
@media only screen and (max-width: 400px){
  .box-header-img{
    font-size: 14px;
    h2{
      margin-top: 4px;
      margin-bottom: 8px;
    }
    p{
      line-height: 21px;
    }
  }
  .new-product .new-product-decsription{
    width: auto;
    text-align: center;
  }
  .best-sells .new-product-decsription{
    width: auto;
    text-align: center;
  }
  .subscribe .subscribe-content .subscribe-box{
    width: auto;
  }
  .image-grid-top {
    width: auto;
  }
  .image-grid-bottom {
    width: auto;
  }
  #big-img{
    width: 100%;
  }
  .filter{
    font-size: 0.750em; /*12px */
    .svg-inline--fa{
      display: none;
    }
  }
}
@media only screen and (max-width: 350px){
  .content{
    font-size: 0.625em;/*10px */
  }
}

/* Footer */






